#services {
    padding: 3em 0;
}

#services article {
    padding: 5em 0;
}

#services .details {
    width: 48%;
}

@media (max-width: 1199px) {
    #services img {
        width: 45%;
        object-fit: cover;
        object-position: center;
    }

    #services img:last-of-type {
        object-position: right;
    }
}

@media (max-width: 991px) {
    #services .details {
        width: 100%;
    }

    #services img {
        width: 50%;
    }
}

@media (max-width: 767px) {
    #services img {
        width: 100%;
        height: 500px;
    }

    #services img:last-of-type {
        object-position: right top;
    }
}

@media (max-width: 575px) {
    #services img {
        object-position: top;
    }

    #services article {
        padding-top: 0;
    }

    #services article:last-of-type {
        padding-bottom: 1em;
    }
}

#services .blue {
    width: 1.375rem;
    height: 0.4375rem;
    background-color: #0075ff;
}

#services h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1;
    color: #0a2533;
    margin-bottom: 41px;
}

#services p {
    color: #444549;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

@media (max-width: 425px) {
    #services h2 {
        font-weight: 600;
        font-size: 24px;
        color: #0a2533;
        margin-bottom: 32px;
    }

    #services p {
        font-size: 15px;
        line-height: 22px;
    }

    #services img {
        object-position: top;
        height: 400px;
    }
}
