#contact {
    padding-top: 7em;
    padding-bottom: 7em;
}

#contact h2 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #0a0a33;
}

#contact p {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #444549;
}

#contact p span {
    color: rgb(15, 116, 185);
}

#contact textarea {
    height: 140px;
}

#contact label {
    font-size: 1rem;
    color: #0f74b9;
    font-weight: 500;
}

#contact input,
#contact textarea {
    border-radius: 10px;
    background-color: #f0f0f0;
    border: none;
}

#contact button {
    padding: 0 32px;
    font-size: 18px;
    font-weight: 400;
    background: #4c8eda;
    border: none;
}

@media (max-width: 575px) {
    #contact {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media (max-width: 425px) {
    #contact h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 44px;
        color: #101828;
    }

    #contact p {
        font-size: 18px;
        line-height: 27px;
    }

    #contact input,
    #contact textarea {
        border-radius: 8px;
        font-weight: 400;
    }

    #contact button {
        font-size: 16px;
        font-weight: 500;
        background: transparent;
        border: 1px solid #0075ff;
        color: #0075ff;
        width: 100%;
    }
}
