#contact {
    padding-top: 7em;
    padding-bottom: 10em;
}

#contact h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #141414;
}

#contact p {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #444549;
}

#contact p span {
    color: #0f74b9;
}

#contact .form-floating > .form-control:not(:placeholder-shown) ~ label {
    transform: none;
}

#contact .form-floating > .form-control:not(:placeholder-shown):focus ~ label {
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

#contact textarea {
    height: 140px;
}

#contact label {
    font-size: 1rem;
    color: rgba(15, 117, 185, 0.7);
    font-weight: 500;
    opacity: 1;
}

#contact input,
#contact textarea {
    border-radius: 10px;
    background: #f0f0f0;
    border: none;
}

#contact button {
    padding: 0 32px;
    font-size: 18px;
    font-weight: 400;
    background: #4c8eda;
}
