#getInTouch {
    background: #fafcff;
    padding: 6em 0;
}

#getInTouch h1 {
    color: #0a0a33;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 65px;
    line-height: 65px;
}

#getInTouch p {
    color: #667085;
    font-size: 1.25rem;
    line-height: 30px;
}

#getInTouch .contact-us,
#getInTouch .detail {
    width: 50%;
}

#getInTouch button a {
    width: 45%;
}

#getInTouch button {
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    border: 1px solid #5f676d;
    border-radius: 50px;
    color: #5f676d;
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
}

#getInTouch .arrow {
    font-size: 21px;
    color: #0075ff;
}

#getInTouch button:hover,
#getInTouch button:focus,
#getInTouch button:active {
    background-color: #0075ff;
    border: 1px solid #0075ff;
    color: #fff;
}

#getInTouch button:hover .arrow,
#getInTouch button:focus .arrow,
#getInTouch button:active .arrow {
    color: #fff;
}

@media (max-width: 1200px) {
    #getInTouch a {
        width: 55%;
    }
}

@media (max-width: 992px) {
    #getInTouch .contact-us {
        width: 45%;
    }

    #getInTouch .detail {
        width: 55%;
    }

    #getInTouch a {
        width: 70%;
    }
}

@media (max-width: 767px) {
    #getInTouch .contact-us,
    #getInTouch .detail {
        width: 100%;
    }

    #getInTouch {
        padding: 5em 0;
    }

    #getInTouch {
        text-align: center;
    }

    #getInTouch button {
        margin-top: 1em;
        width: 70%;
    }
}

@media (max-width: 600px) {
    #getInTouch button {
        width: 90%;
    }

    #getInTouch h1 {
        font-size: 2.8125rem;
        line-height: 45px;
    }
}
