* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Syne', sans-serif; */

body {
    font-family: 'Inter', sans-serif;
    color: #5b5757;
    font-size: 1rem;
    line-height: 1.4;
}
